.committee-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

/* Create four equal columns that sits next to each other */

.committee-col {
    display: flex;
    padding: 0 4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.committee-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.committee-col h3 {
    font-family: 'Raleway', sans-serif;
}

.committee-col h5 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}