 .pressed {
    background: none;
    border: none;
    outline: none;
    color: #F5B342;
    text-decoration: underline;
    text-decoration-color: #F5B342;
 }

 .notPressed {
    outline: none;
    background: none;
    border: none;
    color: white;
 }