.field input {
    background: 0;
    border: 0;
    outline: none;
    width: 80vw;
    max-width: 400px;
    font-size: 1.5em;
    -webkit-transition: padding 0.3s 0.2s ease;
    transition: padding 0.3s 0.2s ease;
    color: white
}

.field input:focus {
    padding-bottom: 5px;
}

.field input:focus+.line:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.field {
    position: relative;
    margin: 15px;
    text-align: left;
}

.field .line {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -8px;
    background: #bdc3c7;
}

.field .line:after {
    content: " ";
    position: absolute;
    float: right;
    width: 100%;
    height: 3px;
    -webkit-transform: scalex(0);
    transform: scalex(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    background: #f3b24f;
}