$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;


.button {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    //font-size: calc(1.5vw + 1.75vh + 0.5vmin);
    font-size: 1.25rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: orange;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(orange, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
    margin: 15px;
}


.mailchimp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0.1, 0.1, 0.1, 0.8);
}

.mailchimp input {
    margin: 10px 0px;
    background-color: transparent;
    color: white;
}

.mailchimp button {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 10rem;
        color: #fff;
        text-transform: uppercase;
        font-size: calc(1vw + 1vh + 1vmin);
        letter-spacing: .15rem;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-decoration: none;
        margin-bottom: 10px;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: orange;
            border-radius: 10rem;
            z-index: -2;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: darken(orange, 15%);
            transition: all .3s;
            border-radius: 10rem;
            z-index: -1;
        }
        &:hover {
            color: #fff;
            &:before {
                width: 100%;
            }
        }
    }

    .border-radius-2 div {
        border-radius: 30px !important;
      }

.modal-content {
    background: none;
}